body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#Splash{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    text-align: center;
}

#Splash #Heading{
    margin-top: 80px;
}

#Splash h1{
    color: #000080;
    font-size: 4em;
    font-weight: bold;
}

#Splash h2{
    padding: 10px;
}

#Splash #GitHubButtons{
    margin-top: 40px;
    padding: 20px;
}

#Splash #ArrowContainer{
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 160px;
    justify-content: center;
    position: relative;
    width: 90px;
}

#Splash #ArrowContainer p{
    animation: Examples 1.5s ease-in-out 0s infinite;
    bottom: 50px;
    cursor: pointer;
    position: absolute;
}

#Splash #ArrowContainer #DownArrow{
    animation: ArrowDown 1.5s ease-in-out 0s infinite;
    cursor: pointer;
    position: absolute;
}

.Intake-Container{
    background-color: white;
}


#Options{
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: 10px;
    min-height: 100vh;
}

#Options h1{
    color: #000080;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.Option{
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 20px 0;
    margin: 20px;
}

.Option h2{
    border-bottom: 1px dashed #000080;
    color: #000080;
    font-size: 1.5em;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.Option label{
    display: none;
}

.Option .CodeAndDesc{
    align-items: top;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.Option .CodeAndDesc p{
    padding: 10px;
    max-width: 25%;
}

.Option .CodeAndDesc pre{
    flex-grow: 2;
    line-height: 1.2em;
    padding: 10px;
}

.Option .CodeAndDesc pre code{
    height: 100%
}

.Option .CodeAndDesc pre *{
    line-height: 1.2em;
}

@keyframes Examples{
    0%{
        bottom: 165px;
    }50%{
        bottom: 185px;
    }100%{
        bottom: 165px;
    }
}

@keyframes ArrowDown{
    0%{
        bottom: 110px;
    }50%{
        bottom: 130px;
    }100%{
        bottom: 110px;
    }
}

@media only screen and (max-width: 650px){
    .Option .CodeAndDesc p{
        max-width: 100%;
        text-align: justify;
    }
}

@media only screen and (max-width: 400px){
    .Option .CodeAndDesc{
        font-size: .7em;
    }
}